DEEPSEEK_API_KEY_stock_agent=sk-xxxxxxxx

MAIL_USER=your_qq@qq.com
MAIL_PASS=xxxxxxxxxxxxxxxx
MAIL_TO=recipient@example.com

# Telegram Bot（通过 @BotFather 创建获取）
TELEGRAM_BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
